@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family : "Bebas Neue", sans-serif;
  margin : 20px;
  background-color : white;
  color : #004080;
  }
  
  * {
  text-decoration : none;
  }

  .logo {
  font-family : "Bebas Neue", sans-serif;
  font-size : 45px;
  font-weight : bold;
  color : #004080;
  }

  button {
  background-color : white;
  align-items : center;
  font-family : "Bebas Neue", sans-serif;
  font-weight : bold;
  padding-left : 15px;
  padding-top : 15px;
  padding-bottom : 15px;
  padding-right : 15px;
  border-radius : 10px;
  color : #004080;
  border-color : #004080;
  }

  input {
  background-color : white;
  align-items : center;
  font-family : "Bebas Neue", sans-serif;
  font-weight : bold;
  padding-left : 15px;
  padding-top : 15px;
  padding-bottom : 15px;
  padding-right : 15px;
  border-radius : 10px;
  color : #004080;
  border-color : #004080;
  }

  button {
  background-color : white;
  align-items : center;
  font-family : "Bebas Neue", sans-serif;
  font-weight : bold;
  padding-left : 85px;
  padding-top : 15px;
  padding-bottom : 15px;
  padding-right : 15px;
  border-radius : 10px;
  color : #004080;
  border-color : #004080;
  }

  ul {
  list-style : none;
  display : inline-block;
  color : #004080;
  font-weight : bolder;
  }

  .navbar {
  background-color : #fafeff;
  font-family : "Bebas Neue", sans-serif;
  text-decoration : #004080;
  border-color : #004080;
  border-width : 3px;
  border-bottom : 3px solid #0dbeff;
  }

  .navdiv {
  display : flex;
  text-align : center;
  justify-content : space-between;
  padding-top : 10px;
  }

  li {
  list-style : none;
  display : inline-block;
  color : #004080;
  font-weight : bolder;
  }

  li a {
  color : #004080;
  margin-right : 20px;
  }

  .container {
  min-height: auto;
  }

  img {
  max-width : 100%;
  max-height : 100%;
  padding-left : 10px;
  padding-top : 15px;
  padding-bottom : 15px;
  padding-right : 15px;
  border-radius : 30%;
  position: relative;
  }

  tr {
  font-family : "Bebas Neue", sans-serif;
  color : #004080;
  font-size : 30px;
  text-align : center;
  font-weight : bold;
  }

  p {
  font-family : Poppins, sans-serif;
  color : #004080;
  font-size : 30px;
  text-align : center;
  font-weight : normal;
  }

  h1 {
  font-family : "Bebas Neue", sans-serif;
  color : #004080;
  font-size : 100px;
  text-align : center;
  }

  h3 {
  font-family : Poppins, sans-serif;
  color : #004080;
  font-size : 50px;
  text-align : center;
  margin-top : 20px;
  border-top : 3px solid #0dbeff;
  padding-top : 10px;
  }

  footer {
  font-family : Poppins;
  margin-top : 20px;
  border-top : 3px solid #0dbeff;
  padding-top : 10px;
  color : #004080;
  font-weight : bold;
  }

  img {
  max-width : 100%;
  }

  td {
  font-weight : bold;
  }

  form {
  font-weight : bold;
  }

  h2 {
  border-bottom : #0dbeff;
  }

  .gallery {
  display : flex;
  justify-content : space-between;
  align-items : center;
  list-style : none;
  padding : 0;
  }

  .gallery img {
  max-width: 500px;
  height : auto;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
li img {
  align-items : center;
}
  